.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / col-end 6;
    grid-row: 1 / 2;
    background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(../img/hero.jpeg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);

    justify-content: center;

    grid-gap: 1.5rem;
    padding: 8rem;
    padding-top: 4rem;

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
        grid-row: 2 /3;
    }

    &>* {
        letter-spacing: 0.25rem;
        align-self: center;

    }


    &__logo {
        height: 3rem;
        max-width: 100%;
        justify-self: center;
    }

    &__seenon-text {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        align-items: center;
        font-size: 1.8rem;
        color: $color-grey-light-2;
        grid-column-gap: 1.6rem;
        letter-spacing: 0.5rem;

        &::before,
        &::after {
            content: "";
            height: 1.2px;
            display: block;
            background-color: currentColor;
        }

    }

    &__seenon-logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;
        justify-items: center;
        align-items: center;


    }

    &__seenon--logo {
        max-height: 2.5rem;
        max-width: 100%;
        filter: brightness(70%);

    }

    &__btn {
        justify-self: start;
        align-self: start;
    }
}